<a href="https://colab.research.google.com/github/LarsvanBoeijen/MachineLearningProjects/blob/main/Kaggle_ML_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

---
---

# **Basic data exploration**

---

---

# Import libraries

In [29]:
import pandas as pd

# Load and inspect data

In [14]:
# read the data and store data in DataFrame titled creditcard_data
creditcard_data = pd.read_csv('creditcard.csv') 

# print a summary of the data in creditcard data
creditcard_data.describe()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
count,284807.000000,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,...,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,2.848070e+05,284807.000000,284807.000000
mean,94813.859575,1.168375e-15,3.416908e-16,-1.379537e-15,2.074095e-15,9.604066e-16,1.487313e-15,-5.556467e-16,1.213481e-16,-2.406331e-15,...,1.654067e-16,-3.568593e-16,2.578648e-16,4.473266e-15,5.340915e-16,1.683437e-15,-3.660091e-16,-1.227390e-16,88.349619,0.001727
std,47488.145955,1.958696e+00,1.651309e+00,1.516255e+00,1.415869e+00,1.380247e+00,1.332271e+00,1.237094e+00,1.194353e+00,1.098632e+00,...,7.345240e-01,7.257016e-01,6.244603e-01,6.056471e-01,5.212781e-01,4.822270e-01,4.036325e-01,3.300833e-01,250.120109,0.041527
min,0.000000,-5.640751e+01,-7.271573e+01,-4.832559e+01,-5.683171e+00,-1.137433e+02,-2.616051e+01,-4.355724e+01,-7.321672e+01,-1.343407e+01,...,-3.483038e+01,-1.093314e+01,-4.480774e+01,-2.836627e+00,-1.029540e+01,-2.604551e+00,-2.256568e+01,-1.543008e+01,0.000000,0.000000
25%,54201.500000,-9.203734e-01,-5.985499e-01,-8.903648e-01,-8.486401e-01,-6.915971e-01,-7.682956e-01,-5.540759e-01,-2.086297e-01,-6.430976e-01,...,-2.283949e-01,-5.423504e-01,-1.618463e-01,-3.545861e-01,-3.171451e-01,-3.269839e-01,-7.083953e-02,-5.295979e-02,5.600000,0.000000
50%,84692.000000,1.810880e-02,6.548556e-02,1.798463e-01,-1.984653e-02,-5.433583e-02,-2.741871e-01,4.010308e-02,2.235804e-02,-5.142873e-02,...,-2.945017e-02,6.781943e-03,-1.119293e-02,4.097606e-02,1.659350e-02,-5.213911e-02,1.342146e-03,1.124383e-02,22.000000,0.000000
75%,139320.500000,1.315642e+00,8.037239e-01,1.027196e+00,7.433413e-01,6.119264e-01,3.985649e-01,5.704361e-01,3.273459e-01,5.971390e-01,...,1.863772e-01,5.285536e-01,1.476421e-01,4.395266e-01,3.507156e-01,2.409522e-01,9.104512e-02,7.827995e-02,77.165000,0.000000
max,172792.000000,2.454930e+00,2.205773e+01,9.382558e+00,1.687534e+01,3.480167e+01,7.330163e+01,1.205895e+02,2.000721e+01,1.559499e+01,...,2.720284e+01,1.050309e+01,2.252841e+01,4.584549e+00,7.519589e+00,3.517346e+00,3.161220e+01,3.384781e+01,25691.160000,1.000000



---



---

# **Model building**



---



---

## Select Data for Modeling¶

In [17]:
# inspect columns
creditcard_data.columns

Index(['Time', 'V1', 'V2', 'V3', 'V4', 'V5', 'V6', 'V7', 'V8', 'V9', 'V10',
       'V11', 'V12', 'V13', 'V14', 'V15', 'V16', 'V17', 'V18', 'V19', 'V20',
       'V21', 'V22', 'V23', 'V24', 'V25', 'V26', 'V27', 'V28', 'Amount',
       'Class'],
      dtype='object')

In [18]:
# dropna drops missing values (think of na as "not available")
creditcard_data = creditcard_data.dropna(axis=0)

## Select prediction target

In [25]:
# select prediction target
y = creditcard_data.Amount

   Time        V1        V2  Class
0   0.0 -1.359807 -0.072781      0
1   0.0  1.191857  0.266151      0
2   1.0 -1.358354 -1.340163      0
3   1.0 -0.966272 -0.185226      0
4   2.0 -1.158233  0.877737      0

## Select features

In [ ]:
# select features
creditcard_features = ['Time', 'V1', 'V2', 'Class']

# input data
X = creditcard_data[creditcard_features]
X.describe()
X.head()

# Model definition

In [30]:
# Import model builder
from sklearn.tree import DecisionTreeRegressor

# Define model. Specify a number for random_state to ensure same results each run
creditcard_model = DecisionTreeRegressor(random_state=1)

# Fit model
creditcard_model.fit(X, y)

DecisionTreeRegressor(random_state=1)

# Predictions

In [28]:
print("Making predictions for the following 5 transactions:")
print(X.head())
print("The predictions are")
print(creditcard_model.predict(X.head()))

Making predictions for the following 5 transactions:
   Time        V1        V2  Class
0   0.0 -1.359807 -0.072781      0
1   0.0  1.191857  0.266151      0
2   1.0 -1.358354 -1.340163      0
3   1.0 -0.966272 -0.185226      0
4   2.0 -1.158233  0.877737      0
The predictions are
[149.62   2.69 378.66 123.5   69.99]

---
---
# **Model validation**
---
---

## Calculate absolute error ("in-sample score")

In [31]:
from sklearn.metrics import mean_absolute_error

# Store predictions
predicted_amount = creditcard_model.predict(X)

# Calcuate MAE
mean_absolute_error(y, predicted_amount)

2.2236659287418298e-17

## Split data in training and validation sets

In [33]:
# Import train_test_split
from sklearn.model_selection import train_test_split

# split data into training and validation data, for both features and target
# The split is based on a random number generator. Supplying a numeric value to
# the random_state argument guarantees we get the same split every time we
# run this script.
train_X, val_X, train_y, val_y = train_test_split(X, y, random_state = 33)

# Define model
creditcard_model = DecisionTreeRegressor()

# Fit model
creditcard_model.fit(train_X, train_y)

# get predicted prices on validation data
val_predictions = creditcard_model.predict(val_X)
print(mean_absolute_error(val_y, val_predictions))

64.04855874834976

---
---
# **Underfitting and Overfitting**
---
---

# Mean absolute error utility function

In [34]:
# Function to calculate mae given some value for max_leaf_nodes
def get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y):
    model = DecisionTreeRegressor(max_leaf_nodes=max_leaf_nodes, random_state=0)
    model.fit(train_X, train_y)
    preds_val = model.predict(val_X)
    mae = mean_absolute_error(val_y, preds_val)
    return(mae)

# Compare MAE for different models

In [35]:
# compare MAE with differing values of max_leaf_nodes
for max_leaf_nodes in [5, 50, 500, 5000]:
    my_mae = get_mae(max_leaf_nodes, train_X, val_X, train_y, val_y)
    print("Max leaf nodes: %d  \t\t Mean Absolute Error:  %d" %(max_leaf_nodes, my_mae))

Max leaf nodes: 5  		 Mean Absolute Error:  77
Max leaf nodes: 50  		 Mean Absolute Error:  59
Max leaf nodes: 500  		 Mean Absolute Error:  53
Max leaf nodes: 5000  		 Mean Absolute Error:  55

---
---
# **Random forests**
---
---

## Build the forest

In [36]:
# Import random forest regressor
from sklearn.ensemble import RandomForestRegressor

# Create model
forest_model = RandomForestRegressor(random_state=1)

# Fit model
forest_model.fit(train_X, train_y)

# Get predictions
melb_preds = forest_model.predict(val_X)

# Print MAE
print(mean_absolute_error(val_y, melb_preds))

50.83676691104181